.login-row {
    display: flex;
    justify-content: center;
}

.login-container {
    width: 230px;          
    margin: 40px auto;     
    margin-top: 10px;
    padding: 80px;         
    border: 1px solid #ccc;
    border-radius: 8px;
}